* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --electric-orange: #E34A27;
    --deep-navy: #0A0E27;
    --cream: #F5F1E8;
    --forest-green: #2e6f40;
    --sunset-yellow: #FFB800;
    --brick: #9c4c46;
    --burnt-orange: #E8744F;
    --sunset-yellow: #FFB800;
    --eggplant: #94c;
}


body {
    font-family: 'Space Grotesk', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
}

.page-home {
    background: var(--deep-navy)
 }

.page-year {
    background: var(--electric-orange)
}

.page-address {
    background: var(--forest-green);
}

.page-name {
    background: var(--brick)
}

.page-describe {
    background: var(--sunset-yellow)
}

.page-vibe {
    background: var(--eggplant)
}

.page-final {
    background: var(--deep-navy)
}

.page-gallery {
    background: var(--cream);
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 60px 30px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: clamp(3rem, 10vw, 6rem);
    line-height: 0.9;
    margin-bottom: 30px;
    letter-spacing: -2px;
    color: var(--cream);
 }

.subtitle {
    font-size: clamp(1rem, 3vw, 1.5rem);
    margin-bottom: 50px;
    opacity: 0.9;
    font-weight: 400;
    color: var(--cream);
}