.page-home {
  background-color: #9c4c46; 
  color: #e7e7e7;
}

.page-year {
  background-color: #7ba3a0;
  color: #44444a;
}

.page-address {
  background-color: #2b0080; 
  color: #e7e7e7;
}

.page-name {
  background-color: #970000;
  color: #e7e7e7; 
}

.page-describe {
  background-color: #2e6f40; 
  color: #e7e7e7;
}

.page-vibe {
  background-color: #d19d00;
  color: #e7e7e7; 
}

.page-final {
  background-color: #9c4c46; 
  color: #e7e7e7;
}

.page-gallery {
  background-color: #fbfad9;
  color: #44444a;
}