/* accent colors
#9c4c46 - brick red
#7ba3a0 - light pea green
#2b0080 - midnight purple
#970000 - cranberry red
#2e6f40 - forest green
#d19d00 - golden yellow
#fbfad9 - matte cream
*/

/* pages
.page-home
.page-year 
.page-address
.page-name
.page-describe
.page-vibe
.page-final
.page-gallery
*/

body {
  background-color: #e7e7e7; 
  color: #44444a;
}